{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10 ">
            <br />
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1">sapid</div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <small class="form-label">{{ ciscomodel.sapid }}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1">hostname</div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <small class="form-label">{{ ciscomodel.hostname }}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1">loopback</div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <small class="form-label">{{ ciscomodel.loopback }}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1">macaddress</div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <small class="form-label">{{ ciscomodel.macaddress }}</small>
        </div>
    </div>
    </div>
</div>

{% endblock %}